/* секція постійні клієнти */
.section-clients {
    background-color: getColor('background');

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
}

.section-clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {  
        border: 1px solid getColor('accent');
        cursor: pointer;
    }
}

.section-clients__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .section-clients__link:hover &,
    .section-clients__link:focus & {
        fill: getColor('accent');
        cursor: pointer;
    }
}