/* секція наша команда */
.section-team {
    background-color: #F5F4FA;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__list {
        text-align: center;
        display: flex;
        padding: 0;
    }
    
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__profession {
        color: getColor('primery');
        font-size: 16px;
        line-height: 1.19;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.section-team__card {
    width: 270px;
    margin-right: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);

    &:last-child {
        margin-bottom: 0;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-left: 0;
    margin-bottom: 30px;

        &__link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
}

.social-icons__item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: getColor('accent');
        cursor: pointer;
    }
    &:last-child {
    margin-right: 0;
    }
}

.social-icons__icon {
    fill: #AFB1B8;

    .social-icons__item:hover &,
    .social-icons__item:focus & {  
        fill: getColor('background');
    }
}


